# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env

# Build directories
dist/
build/

# Editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp

# Debugger logs
debug.log
